%h1 Iain Beeston

%p …is a software engineer who specialises in Ruby and Javascript, and believes that craftsmanship is important in software development.
%p During the day Iain works as a Ruby Developer for We Are Brand New. He also contributes to a variety of open-source projects when he has time.

%ul.icons
  %li= link_to "Facebook", "http://www.facebook.com/iain.beeston/", target: "_blank", class: "icon facebook"
  %li= link_to "LinkedIn", "http://www.linkedin.com/in/iainbeeston/", target: "_blank", class: "icon linkedin"
  %li= link_to "Twitter", "http://twitter.com/iainbeeston/", target: "_blank", class: "icon twitter"
  %li= link_to "Stack Overflow", "http://stackoverflow.com/users/344660/", target: "_blank", class: "icon stackoverflow"
  %li= link_to "GitHub", "http://github.com/iainbeeston/", target: "_blank", class: "icon github"
