%header.l-avatar
  -# image size = $icon-box-width * $icon-count * 2
  = image_tag "https://secure.gravatar.com/avatar/4ec7cb42339aacafc17395000e2c97d4?size=288", alt: "Gravatar", class: "m-avatar-image"

%section.l-description
  %header.m-header
    %h1 Iain Beeston
    %h3.subheader (Software Engineer)
  %p
    Makes web-apps using Ruby and JavaScript. Works as a developer for We Are Brand New. Contributes to a variety of open-source projects.

%footer.l-links
  %ul.l-icons
    %li= link_to image_tag("sprites/icons.png", alt: "LinkedIn", class: "icon-window linkedin"), "http://www.linkedin.com/in/iainbeeston/", target: "_blank", class: "m-icon"
    %li= link_to image_tag("sprites/icons.png", alt: "Twitter", class: "icon-window twitter"), "http://twitter.com/iainbeeston/", target: "_blank", class: "m-icon"
    %li= link_to image_tag("sprites/icons.png", alt: "Stack Overflow", class: "icon-window stackoverflow"), "http://stackoverflow.com/users/344660/", target: "_blank", class: "m-icon"
    %li= link_to image_tag("sprites/icons.png", alt: "GitHub", class: "icon-window github"), "http://github.com/iainbeeston/", target: "_blank", class: "m-icon"

